@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-end: #232323;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #232323;
  box-sizing: border-box;
}

::-webkit-progress-value {
  background-color: yellow;
  background-image: linear-gradient(135deg, #ffdd65 2.76%, #ffaa5c 29.66%, #ff49c0 61%, #8e59ff 99.93%);
}